
/*font*/
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

/*variables*/
:root {
    --primary: #000046;
    --primary-light: #4d4dc1;
    --primary-dark: #00002d;

    --muted: #c0c0c4;
    --muted-light: #dedee0;
    --muted-dark: #717174;

    --font-normal: "Open Sans", sans-serif, 15px;
    --font-heading: 'Open Sans', sans-serif, 32px;

    --space-0: 0; 
    --space-1: 0.5rem; 
    --space-2: 1rem; 
    --space-3: 2rem; 
    --space-4: 5rem;

    --shadow-dark: 0 0.1rem 0.2rem 0.1rem rgba(49, 45, 41, 0.2);
    --shadow-light: 0 0.1rem 0.2rem 0.1rem rgba(242, 242, 242, 0.5);
}

/*body*/
body {
    margin: 0;
    font-family: var(--font-normal);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    margin-bottom: 1rem;
}

/*colours*/
.bg-primary { background-color: var(--primary); }
.bg-light { background-color: var(--light); }
.bg-dark { background-color: var(--dark); }
.bg-muted { background-color: var(--muted); }

.text-primary { color: var(--primary) }
.text-light { color: var(--light); }
.text-dark { color: var(--dark); }
.text-muted { color: var(--muted); }

.shadow-dark { box-shadow: var(--shadow-dark); }
.shadow-light { box-shadow: var(--shadow-light); }

/*layout of screen*/
.container {
    max-width: 1920px;
    margin: var(--space-0);
}

/*components*/
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.homepage-img {
    margin: var(--space-0);
    padding: var(--space-0);
    width: 100%;
}

.homepage-img img {;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*flexbox*/
.AboutUs {
    width: 1030px;
    margin: var(--space-4) auto var(--space-3);
    text-align: left;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1030px;
    margin: var(--space-0) auto;
    padding: var(--space-0);
    gap: 80px;
}

.flex p {
    flex: 0 0 450px;
    width: 450px;
    margin: var(--space-0);
    padding: var(--space-0);
    font-size: var(--font-normal);
    line-height: 2;
    text-align: left;
}

.flex img {
    flex: 0 0 500px;
    width: 500px;
    height: 350px;
    object-fit: cover;
    display: block;
}

/*layout*/
.m-0 { margin: var(--space-0); }
.m-1 { margin: var(--space-1); }
.m-2 { margin: var(--space-2); }
.m-3 { margin: var(--space-3); }

.p-0 { padding: var(--space-0); }
.p-1 { padding: var(--space-1); }
.p-2 { padding: var(--space-2); }
.p-3 { padding: var(--space-3); }

.gap-0 { gap: var(--space-0); }
.gap-1 { gap: var(--space-1); }
.gap-2 { gap: var(--space-2); }
.gap-3 { gap: var(--space-3); }
.gap-4 { gap: var(--space-4); }

/*navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: white;
    padding: var(--space-1) var(--space-2);
}

.navbar ul{
    list-style-type: none;
    background-color: var(--primary);
    padding: var(--space-0);
    margin: var(--space-0);
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: var(--space-2);
    text-align: center;
    font-size: 32px;
    font-family: var(--font-normal);
    display: block;
}

.navbar a:hover{
    background-color: none;
    color: var(--primary-light);
}

.navbar li{
    float: left;
}


/*mobile size*/
@media (max-width: 375px){

    .sm-grid-1col {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sm-grid-2col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
